
.Home{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: white;
}
.promo-section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
}
.promo-section h1{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    align-self: flex-start;
    margin: 0;
    color: #FF2828;
    
}
.promo-cards-container{
    display: flex;
    flex-direction: row;
    gap: 28px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
}
.promo-cards-container *{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
.promo-cards-container::-webkit-scrollbar {
    display: none;
}
.cards-container-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container-arrow .arrow-icon{
    width: 22px;
    height: 22px;
    fill: #000;
}
.cards-container-left-arrow{
    left: 20px;
}
.cards-container-left-arrow .arrow-icon{
    transform: scaleX(-1);
    margin-right: 3px;
}
.cards-container-right-arrow{
    right: 20px;
}
.cards-container-right-arrow .arrow-icon{
    margin-right: -3px;
}