.footer {
  background-color: #222;
  color: #eee;
  padding: 20px 20px 20px;
  width: 100%;
  font-family: sans-serif;
  position: relative;
  font-size: 1.2rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}



.footer-content h3
.footer-section h4 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-section ul li a:hover {
  color: #fff;
}

.social-icons a {
  color: #aaa;
  margin-right: 10px;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.social-icons a:hover {
  color: #1da1f2;
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 10px;
  padding-top: 15px;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}
