:root {
    --columns-gap: 60px;
    --navbar-height: 46px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #e4e4e4;
    color: black;
    z-index: 800;
    box-sizing: border-box;
}

.navbar-scroll-wrapper {
    position: relative;
    width: 80%;
    overflow: hidden; /* hides fading overlay going outside */
    height: 100%;
}

.navbar-scroll-wrapper::before,
.navbar-scroll-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.navbar-scroll-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(228, 228, 228, 1), rgba(228, 228, 228, 0));
}

.navbar-scroll-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(228, 228, 228, 1), rgba(228, 228, 228, 0));
}

.navbar-categories-list {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /*justify-content:center;*/
    align-items: center;
    list-style-type: none;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
    box-sizing: border-box;
    /*scroll-snap-type: x mandatory;
    scroll-behavior: smooth;*/
    width: 100%;
}
/*
.no-snap {
    scroll-snap-type: none !important;
    scroll-behavior:auto;
}*/

.navbar-categories-list *{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.navbar-categories-list::-webkit-scrollbar {
    display: none;
}

.navbar-item {
    height: var(--navbar-height);
    padding: 0px 20px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-wrap: nowrap;
    box-sizing: border-box;
    scroll-snap-align: start;
    font-weight: 400;
}

.navbar-item:hover {
    color: #575757;
    cursor: pointer;
}

.sub-categories-container {
    display: none;
    position: absolute;
    top: var(--navbar-height);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 1200px;
    height: fit-content;
    background: white;
    padding: 60px 60px;
    z-index: 1000;
}

.sub-categories-container.visible {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--columns-gap);
}
.column{
    display: flex;
    flex-direction: column;
    gap: var(--columns-gap);
    height:fit-content;
}
.column-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: fit-content;
    height:fit-content;
}
.vl {
    border-left: 1px dashed #CACACA;
    height: auto;
}
.sub-category-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
}
.subCategoryName{
    color: #3665FF;
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.subSubCategoryName{
    color: #4F4F4F;
    font-size: 16px;
    padding: 0;
    margin: 0;
}