.breadcrumbs{
    margin: 10px 0 20px 0;
}

.breadcrumb{
    color: #5a5a5a;
    font-weight: 400;   
    font-size: 16px;
}

.breadcrumb a{
    text-decoration: none;  
    color: #5699c0;
}

.Product {
    display: flex;
    justify-content: space-between;/* Align items horisentally*/
    width: 70%;
    min-width: 800px;
    margin: 0 40px 40px 40px;
}

.ProductDescription {
    width:50%;
    height: 100%;
    padding: 1.25rem 3.5rem;
    text-align: left;
    font-size: 50%;
    color: rgb(0, 0, 0);
}

/*General Info*/
.product-general-info {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.product-brand-label{
    height: 30px;
}
.product-general-info h2, .product-general-info h4 {
    margin: 0;
}
.product-general-info h2 {
    font-size: 28px;
}

.product-general-info .StarContainer img{
    width: 15%;
    height: 15%;
}

.StarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.StarContainer *{
    width: 24px;
    height: 24px;
}

.product-availability {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0 10px 0;
}

/*text*/
.ProductDescription h1{
    font-weight:normal;
    color: rgb(12, 12, 12);
}

.product-availability .price-range{
    font-size: 28px;
    font-weight: 600;
}

.product-availability .stock{
    font-size: 16px;
    font-weight: bold;
    color: #22C55E;
}

.ProductDescription h3{
    font-weight: 20px;
}

.ProductDescription h4{
    font-size: 16px;
    font-weight:normal;
}

.ProductRating h4{
    font-weight: 100;
    font-size: 90%;
}

.product-detail h4:first-child {
    font-weight:bold;
    width: 150px;
}

.ProductDescription p {
    color: #686868;
    font-size: 16px;
    margin-bottom: 0;
}

.truncated {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.toggle {
    color: #5c95d1;
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
    font-weight: 500;
}

.product-imgs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 600px;
    height: fit-content;
}

.product-sub-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 90px;
    gap: 20px;
    overflow-x: auto;
    overflow-y:visible;
    scrollbar-width: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.product-sub-img-container::-webkit-scrollbar { /* Chrome and Opera */
    display: none;
}

.product-sub-img{
    width: 90px;
    height: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.product-sub-img:hover {
    transform: scale(1.05);
}

.product-sub-img.active {
    border: 2px solid #8cc3ff;
}

.product-main-img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 24px;
    box-shadow: rgba(196, 196, 196, 0.2) 0px 0px 24px;
}

.DashedLine{
    border-top: 1px dashed #D0D0D0;
}

.product-option{
    display:flex;
    justify-content:space-between ;
}
.product-option h4{
    margin: 15px 0;
}

.product-detail{
    display:flex;
}
.product-detail h4{
    margin: 10px 0;
}
.product-option span{
    display:flex;
    align-items: center;
    gap: 10px;
}

.circle{
    box-shadow: 0px 0px 3px rgb(63, 63, 63);
}