.Product {
    display: flex;
    justify-content: space-between;/* Align items horisentally*/
    width: 70%;
    min-width: 800px;
    margin: 40px;
}

.ProductDescription {
    width:50%;
    height: 100%;
    padding: 2rem 3.5rem;
    text-align: left;
    font-size: 50%;
    color: rgb(0, 0, 0);
}

/*General Info*/
.product-general-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-general-info .StarContainer img{
    width: 15%;
    height: 15%;
}

.product-general-info .StarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.product-availability {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*text*/
.ProductDescription h1{
    font-weight:normal;
    color: rgb(12, 12, 12);
}

.product-availability .price-range{
    font-size: 28px;
    font-weight: 600;
}

.product-availability .stock{
    font-size: 16px;
    font-weight: bold;
    color: #22C55E;
}

.ProductDescription h3{
    font-weight: 20px;
}

.ProductDescription h4{
    font-size: 16px;
    font-weight:normal;
}

.ProductRating h4{
    font-weight: 100;
    font-size: 90%;
}

.product-detail h4:first-child {
    font-weight:bold;
    width: 150px;
}

.ProductDescription p {
    color: #686868;
    font-size: 16px;
}

.ProductImg {
    width:50%; 
    height: 100%; 
}

.ProductGroupImg{
    width:80%;
}

.ProductMainImg{
    width: 100%; 
}


.DashedLine{
    border-top: 1px dashed #D0D0D0;
}

.product-option{
    display:flex;
    justify-content:space-between ;
}


.product-detail{
    display:flex;
}
.product-detail h4{
    margin: 10px 0;
}
.product-option span{
    display:flex;
    align-items: center;
    gap: 10px;
}

.circle{
    box-shadow: 0px 0px 3px rgb(63, 63, 63);
}