.product-extras-container{
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    width: 100%;
    align-items: center;
    padding-top: 30px;
    gap: 30px;
}

.product-extras-selectors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product-extras-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50px;
    padding: 0px 30px;
    color: #A6A6A6;
    font-size: 24px;
    font-weight: 500;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
    cursor: pointer;
}

.product-extras-selector:hover{
    background-color: rgb(247, 247, 247);
}