body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Karantina";
  src: local("Karantina"),
   url("./assets/fonts/Karantina-Regular.ttf") format("truetype");
  font-weight:normal;
 }

@font-face {
  font-family: "PublicSans";
  src: local("PublicSans"),
   url("./assets/fonts/PublicSans.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.karantina {
  font-family: "Karantina";
}

.PublicSans {
  font-family: "PublicSans";
}